header {
  box-shadow: inset 0px -5px 5px 0px rgba(0,0,0,0.1);
  height: 28px;
  width: 100%;

  section {
    margin: 0 auto;
    position: relative;
    width: $body-width;
  }
}

.logo {
  @include position(absolute, 23px 0 0 34px);
  height: 73px;
  width: 121px;
  z-index: 10000;
}

#logo-swirl {
  @include position(absolute, 6px 0 0 10px);
  height: 113px;
  width: 169px;
  z-index: 1000;
}

nav.main {
  color: #fff;
  font-family: "ExpresswayCondensedSemiBold", Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;

  ul {
    list-style-type: none;
  }

  li {
    display: inline-block;
  }

  a {
    color: #fff;
    display: block;
    margin: 0 22px;
    padding: 6px 20px;

    &:hover {
      background-color: black;
    }
  }
}
