html {
  height: 100%;
  width: 100%;
}

body {
  @include linear-gradient(#f9f9ea, #f9f9ea, horizontal);
  @include background-image(
    radial-gradient(center, ellipse cover, rgba(249, 249, 234, 0.3) 0%,rgba(249, 249, 234, 0.15) 30%,rgba(249, 249, 234, 0) 100%)
  );
  background-position: center 10em;
  color: $white;
  font-family: $font-body;
  height: 100%;
  width: 100%;
}

.page-background {
  background: url(../images/logo-swirl.svg) no-repeat center -50px;
  background-size: 1200px;
  height: 100%;
  opacity: .05;
  position: absolute;
  width: 100%;
  z-index: -1;
}

a {
  color: $white;
  text-decoration: none;
}
