body {
  background-color: $citrus-burst;
  font-family: Arial, sans-serif;
  background-image: url(../images/swirl-glow-bg.png);
  background-repeat: no-repeat;
  background-position: center -50px;
  background-size: 1067px;
}

main {
  width: 1100px;
  margin: 0 auto 0 auto;
  position: relative;
  overflow: hidden;
  height: 500px;
}
