$page-colors: (
  citrus-burst: $citrus-burst-bg-color,
  kiwi-strawberry: $kiwi-strawberry-bg-color,
  triple-berry: $triple-berry-bg-color,
  lemon-lime-rush: $lemon-lime-rush-bg-color,
  grape-fusion: $grape-fusion-bg-color,
  blue-raspberry: $blue-raspberry-bg-color,
  black-cherry: $black-cherry-bg-color,
  wild-peach: $wild-peach-bg-color
);

$logo-swirls:
  (citrus-burst, $citrus-burst-front, $citrus-burst-back),
  (kiwi-strawberry, $kiwi-strawberry-front, $kiwi-strawberry-back),
  (triple-berry, $triple-berry-front, $triple-berry-back),
  (lemon-lime-rush, $lemon-lime-rush-front, $lemon-lime-rush-back),
  (grape-fusion, $grape-fusion-front, $grape-fusion-back),
  (blue-raspberry, $blue-raspberry-front, $blue-raspberry-back),
  (black-cherry, $black-cherry-front, $black-cherry-back),
  (wild-peach, $wild-peach-front, $wild-peach-back);

$bottles: (
  citrus-burst: url(../images/bottle-citrus-burst.png),
  kiwi-strawberry: url(../images/bottle-kiwi-straw.png),
  triple-berry: url(../images/bottle-triple-berry.png),
  lemon-lime-rush: url(../images/bottle-lemon-lime.png),
  grape-fusion: url(../images/bottle-grape-fusion.png),
  blue-raspberry: url(../images/bottle-blue-rasp.png),
  black-cherry: url(../images/bottle-black-cherry.png),
  wild-peach: url(../images/bottle-wild-peach.png)
);

@each $page-color, $color in $page-colors {
  .page-#{$page-color} {
    background-color: $color;
  }
}

@each $logo-swirl, $swirl-front, $swirl-back in $logo-swirls {
  .logo-#{$logo-swirl} {

    .swirl-front {
      fill: $swirl-front;
    }

    .swirl-back {
      fill: $swirl-back;
    }
  }
}

@each $bottle, $image in $bottles {
  .large-bottle-#{$bottle} {
    background-image: $image;
  }
}
