$flavors: (
  (citrus-burst, $citrus-burst-bg-color, $citrus-burst-front, $citrus-burst-back),
  (kiwi-strawberry, $kiwi-strawberry-bg-color, $kiwi-strawberry-front, $kiwi-strawberry-back),
  (triple-berry, $triple-berry-bg-color, $triple-berry-front, $triple-berry-back),
  (lemon-lime-rush, $lemon-lime-rush-bg-color, $lemon-lime-rush-front, $lemon-lime-rush-back),
  (grape-fusion, $grape-fusion-bg-color, $grape-fusion-front, $grape-fusion-back),
  (blue-raspberry, $blue-raspberry-bg-color, $blue-raspberry-front, $blue-raspberry-back),
  (black-cherry, $black-cherry-bg-color, $black-cherry-front, $black-cherry-back),
  (wild-peach, $wild-peach-bg-color, $wild-peach-front, $wild-peach-back)
);

@each $flavor, $bg-color, $swirl-front, $swirl-back in $flavors {
  .page-#{$flavor} {
    background-color: $bg-color;
  }

  .logo-#{$flavor} {

    .swirl-front {
      fill: $swirl-front;
    }

    .swirl-back {
      fill: $swirl-back;
    }
  }

  .large-bottle-#{$flavor} {
    background-image: url(../images/bottle-#{$flavor}.png);
  }
}
