a {
	text-decoration:none;
}

/* HEADER & NAV */

#shopping-cart {
	background-image: url(../images/shopping-cart.png);
	background-repeat:no-repeat;
	height:20px;
	width:18px;
	position:absolute;
	top:5px;
	right:0;
}

#logo {
	background-image: url(../images/logo.png);
	background-repeat:no-repeat;
	position:absolute;
	top:23px;
	left:34px;
	width:121px;
	height:73px;
	z-index:10000;
}

#logo-bg {
	background-repeat:no-repeat;
	position:absolute;
	top:-5px;
	left:0;
	width:189px;
	height:134px;
	z-index:1000;
}


/* CONTENT ON BLACK BG */

#black-bg-container {
	background-color:#000;
	width:100%;
}

#black-bg-content {
	width:964px;
	margin: 0 auto;
	position:relative;
}

/* FOOTER */

#footer-container {
	background-color:#000;
	width:100%;
	overflow:hidden;
	border-top:1px solid #333;
}

#footer {
	width:964px;
	margin: 0 auto;
	position:relative;
	text-align:right;
	color:#666;
	font-size:10px;
	padding:10px 0;
	height:100%;
}

#social-media-tab {
	position:absolute;
	top:0;
	right:0;
}

#social-media-wrapper {
	position:absolute;
	width:100%;
	min-width:964px;
	top:160px;
	z-index:100;
}

/* Product Bottles Pages */

#btl-image {
	width:154px;
	height:459px;
	position:absolute;
	top:0;
	right:40px;
}

#btl-nav {
	list-style-type:none;
	position:absolute;
	top:150px;
	left:210px;
	text-align:left;
	text-indent:-9999px;
	width:100%;
}

#btl-nav li {
	float:left;
}

#btl-nav li a {
	background-image: url(../images/product-tabs.png);
	background-repeat:no-repeat;
	display:block;
	height:35px;
}

#btl-nav li.the-flavor a {
	width:127px;
	background-position: 0 0;
}

#btl-nav li.nutri-facts a {
	width:152px;
	background-position: -127px 0;
}

#btl-nav li.ingredients a {
	width:123px;
	background-position: -278px 0;
}

#btl-nav li.buy-now a {
	width:120px;
	background-position: -401px 0;
}

#btl-nav li.the-flavor a:hover, #btl-nav li.the-flavor a.active {
	background-position: 0 -36px;
}

#btl-nav li.nutri-facts a:hover, #btl-nav li.nutri-facts a.active{
	background-position: -127px -36px;
}

#btl-nav li.ingredients a:hover, #btl-nav li.ingredients a.active {
	background-position: -278px -36px;
}

#btl-nav li.buy-now a:hover, #btl-nav li.buy-now a.active {
	background-position: -401px -36px;
}

/* FLAVORS */

.bg-citrus-burst {background-color: $citrus-burst;}

.bg-kiwi-straw {background-color: $kiwi-strawberry;}

.bg-triple-berry {background-color: $triple-berry;}

.bg-lemon-lime {background-color: $lemon-lime-rush;}

.bg-grape-fusion {background-color: $grape-fusion;}

.bg-blue-rasp {background-color: $blue-raspberry;}

.bg-black-cherry {background-color: $black-cherry;}

.bg-wild-peach {background-color: $wild-peach;}

.logo-citrus-burst {background-image: url(../images/logo-citrus-burst.png);}

.logo-kiwi-straw {background-image: url(../images/logo-kiwi-straw.png);}

.logo-triple-berry {background-image: url(../images/logo-triple-berry.png);}

.logo-lemon-lime {background-image: url(../images/logo-lemon-lime.png);}

.logo-grape-fusion {background-image: url(../images/logo-grape-fusion.png);}

.logo-blue-rasp {background-image: url(../images/logo-blue-rasp.png);}

.logo-black-cherry {background-image: url(../images/logo-black-cherry.png);}

.logo-wild-peach {background-image: url(../images/logo-wild-peach.png);}

.btl-citrus-burst {background-image: url(../images/pbottle-citrus-burst.png);}

.btl-kiwi-straw {background-image: url(../images/pbottle-kiwi-straw.png);}
