a {
	text-decoration:none;
}


/* CONTENT ON BLACK BG */

#black-bg-container {
	background-color:#000;
	width:100%;
}

#black-bg-content {
	width:964px;
	margin: 0 auto;
	position:relative;
}

/* FOOTER */

#footer-container {
	background-color:#000;
	width:100%;
	overflow:hidden;
	border-top:1px solid #333;
}

#footer {
	width:964px;
	margin: 0 auto;
	position:relative;
	text-align:right;
	color:#666;
	font-size:10px;
	padding:10px 0;
	height:100%;
}

#social-media-tab {
	position:absolute;
	top:0;
	right:0;
}

#social-media-wrapper {
	position:absolute;
	width:100%;
	min-width:964px;
	top:160px;
	z-index:100;
}

/* Product Bottles Pages */

.large-bottle {
	width:154px;
	height:459px;
	position:absolute;
	top:0;
	right:40px;
}
