$citrus-burst: #f47c08;
$kiwi-strawberry: #c33a89;
$triple-berry: #cc3012;
$lemon-lime-rush: #52a534;
$grape-fusion: #724598;
$blue-raspberry: #0c71b7;
$black-cherry: #990b0d;
$wild-peach: #e5644f;
$yellow: #ffe800;

$body-width: 1000px;
