$citrus-burst-back: #fcaf17;
$citrus-burst-front: #f15406;
$kiwi-strawberry-back: #ee4c9b;
$kiwi-strawberry-front: #b12a75;
$triple-berry-back: #f26532;
$triple-berry-front: #e1090f;
$lemon-lime-rush-back: #99ca3c;
$lemon-lime-rush-front: #3e8819;
$grape-fusion-back: #9f76b4;
$grape-fusion-front: #502b71;
$blue-raspberry-back: #0047a8;
$blue-raspberry-front: #00b1f0;
$black-cherry-back: #700000;
$black-cherry-front: #ed1c24;
$wild-peach-back: #f8ab9e;
$wild-peach-front: #f06b5d;

$yellow: #ffe800;

$body-width: 1000px;

