$citrus-burst-bg-color: #f47c08;
$citrus-burst-back: #fcaf17;
$citrus-burst-front: #f15406;
$kiwi-strawberry-bg-color: #c33a89;
$kiwi-strawberry-back: #ee4c9b;
$kiwi-strawberry-front: #b12a75;
$triple-berry-bg-color: #cc3012;
$triple-berry-back: #f26532;
$triple-berry-front: #e1090f;
$lemon-lime-rush-bg-color: #52a534;
$lemon-lime-rush-back: #99ca3c;
$lemon-lime-rush-front: #3e8819;
$grape-fusion-bg-color: #724598;
$grape-fusion-back: #9f76b4;
$grape-fusion-front: #502b71;
$blue-raspberry-bg-color: #0c71b7;
$blue-raspberry-back: #0047a8;
$blue-raspberry-front: #00b1f0;
$black-cherry-bg-color: #990b0d;
$black-cherry-back: #700000;
$black-cherry-front: #ed1c24;
$wild-peach-bg-color: #e5644f;
$wild-peach-back: #f8ab9e;
$wild-peach-front: #f06b5d;

$yellow: #ffe800;
$black: black;
$white: white;

$body-width: 1100px;

$font-body: "ExpresswaySemiBold", Arial, sans-serif;
$font-site-nav: "ExpresswayCondensedSemiBold", Arial, sans-serif;
