@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: "ExpresswayCondensedSemiBold";
  src: url("../fonts/expressway-condensed-sb.eot");
  src: local("☺︎"), url("../fonts/expressway-condensed-sb.woff") format("woff"), url("../fonts/expressway-condensed-sb.otf") format("opentype"), url("../fonts/expressway-condensed-sb.svg#ExpresswayCondensedSemiBold") format("svg"); }
@font-face {
  font-family: "ExpresswaySemiBold";
  src: url("../fonts/expressway-sb.eot");
  src: local("☺︎"), url("../fonts/expressway-sb.woff") format("woff"), url("../fonts/expressway-sb.otf") format("opentype"), url("../fonts/expressway-sb.svg#ExpresswaySemiBold") format("svg"); }
@font-face {
  font-family: "ExpresswaySemiBoldItalic";
  src: url("../fonts/expressway-sb-italic.eot");
  src: local("☺︎"), url("../fonts/expressway-sb-italic.woff") format("woff"), url("../fonts/expressway-sb-italic.otf") format("opentype"), url("../fonts/expressway-sb-italic.svg#ExpresswaySemiBoldItalic") format("svg"); }
.page-citrus-burst {
  background-color: #f47c08; }

.page-kiwi-strawberry {
  background-color: #c33a89; }

.page-triple-berry {
  background-color: #cc3012; }

.page-lemon-lime-rush {
  background-color: #52a534; }

.page-grape-fusion {
  background-color: #724598; }

.page-blue-raspberry {
  background-color: #0c71b7; }

.page-black-cherry {
  background-color: #990b0d; }

.page-wild-peach {
  background-color: #e5644f; }

.logo-citrus-burst .swirl-front {
  fill: #f15406; }
.logo-citrus-burst .swirl-back {
  fill: #fcaf17; }

.logo-kiwi-strawberry .swirl-front {
  fill: #b12a75; }
.logo-kiwi-strawberry .swirl-back {
  fill: #ee4c9b; }

.logo-triple-berry .swirl-front {
  fill: #e1090f; }
.logo-triple-berry .swirl-back {
  fill: #f26532; }

.logo-lemon-lime-rush .swirl-front {
  fill: #3e8819; }
.logo-lemon-lime-rush .swirl-back {
  fill: #99ca3c; }

.logo-grape-fusion .swirl-front {
  fill: #502b71; }
.logo-grape-fusion .swirl-back {
  fill: #9f76b4; }

.logo-blue-raspberry .swirl-front {
  fill: #00b1f0; }
.logo-blue-raspberry .swirl-back {
  fill: #0047a8; }

.logo-black-cherry .swirl-front {
  fill: #ed1c24; }
.logo-black-cherry .swirl-back {
  fill: #700000; }

.logo-wild-peach .swirl-front {
  fill: #f06b5d; }
.logo-wild-peach .swirl-back {
  fill: #f8ab9e; }

.large-bottle-citrus-burst {
  background-image: url(../images/bottle-citrus-burst.png); }

.large-bottle-kiwi-strawberry {
  background-image: url(../images/bottle-kiwi-straw.png); }

.large-bottle-triple-berry {
  background-image: url(../images/bottle-triple-berry.png); }

.large-bottle-lemon-lime-rush {
  background-image: url(../images/bottle-lemon-lime.png); }

.large-bottle-grape-fusion {
  background-image: url(../images/bottle-grape-fusion.png); }

.large-bottle-blue-raspberry {
  background-image: url(../images/bottle-blue-rasp.png); }

.large-bottle-black-cherry {
  background-image: url(../images/bottle-black-cherry.png); }

.large-bottle-wild-peach {
  background-image: url(../images/bottle-wild-peach.png); }

html {
  height: 100%;
  width: 100%; }

body {
  background-color: #f9f9ea;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9ea), color-stop(50%, #f9f9ea), color-stop(100%, horizontal));
  background-image: -webkit-linear-gradient(#f9f9ea, #f9f9ea, horizontal);
  background-image: linear-gradient(#f9f9ea, #f9f9ea, horizontal);
  background-image: -webkit-radial-gradient(center,  ellipse cover, rgba(249, 249, 234, 0.3) 0%, rgba(249, 249, 234, 0.15) 30%, rgba(249, 249, 234, 0) 100%);
  background-image: radial-gradient( ellipse  at center, rgba(249, 249, 234, 0.3) 0%, rgba(249, 249, 234, 0.15) 30%, rgba(249, 249, 234, 0) 100%);
  background-position: center 10em;
  color: white;
  font-family: "ExpresswaySemiBold", Arial, sans-serif;
  height: 100%;
  width: 100%; }

.page-background {
  background: url(../images/logo-swirl.svg) no-repeat center -50px;
  background-size: 1200px;
  height: 100%;
  opacity: .05;
  position: absolute;
  width: 100%;
  z-index: -1; }

a {
  color: white;
  text-decoration: none; }

header {
  box-shadow: inset 0px -5px 5px 0px rgba(0, 0, 0, 0.1);
  height: 28px;
  width: 100%; }
  header section {
    margin: 0 auto;
    position: relative;
    width: 1100px; }

.logo {
  position: absolute;
  top: 23px;
  left: 34px;
  height: 73px;
  width: 121px;
  z-index: 10000; }

#logo-swirl {
  position: absolute;
  top: 6px;
  left: 10px;
  height: 113px;
  width: 169px;
  z-index: 1000; }

.site-nav {
  font-family: "ExpresswayCondensedSemiBold", Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase; }
  .site-nav ul {
    list-style-type: none; }
  .site-nav li {
    display: inline-block; }
  .site-nav a {
    color: white;
    display: block;
    margin: 0 22px;
    padding: 6px 20px; }
    .site-nav a:hover {
      background-color: black; }

.flavor-info {
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 1100px; }

.info-nav {
  font-size: .8em;
  letter-spacing: .1em;
  margin-top: 6em;
  text-transform: uppercase; }
  .info-nav ul {
    list-style-type: none;
    text-align: center; }
  .info-nav li {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: 3px;
    padding: 10px 20px; }

.large-bottle {
  position: absolute;
  top: 0px;
  right: 40px;
  background-size: 173px 500px;
  height: 500px;
  width: 173px; }

.footer-nav-container {
  position: fixed;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: black; }

.footer-nav {
  height: 94px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center; }
  .footer-nav a {
    margin: 0 10px;
    position: relative;
    top: 34px; }
    .footer-nav a:hover, .footer-nav a.active {
      top: 14px; }
